
body{
    background-color: gray;
}
.card1{
    background-color: #8E6E95;
}
.card2{
    background-color: #39A59C;
}
.card3{
    background-color: #344759;
}
.card4{
    background-color: #E8741E;
}
